@charset "UTF-8";

@font-face {
    font-family: SpecialElite;
    src: url(3.fontes/SpecialElite-Regular.ttf);
}

body {
    font-family: SpecialElite, Arial, Helvetica, sans-serif;
    color: white;

    padding: 0%;
    margin: 0%;
    height: 100vw;
    /*background-image: linear-gradient(to bottom, #000000, #3E1648);*/
    background-color: #18081C;
    
}

h1 {
    text-align: center;
}

p {
    line-height: 1.4em;
}

/* ===== Tags ===== */

img#pensador {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: block;
    margin: 30px auto;
}





article.pensador {
    display: inline;

    width: 24%;
    padding: 8px;
    margin: 10px 5px;

    background-color: white;
    border-radius: 20px;
}

article.pensador img {
    width: 90%;

    display: block;
    margin: auto;

    border-radius: 10px;
}

article.pensador a {
    text-decoration: none;
}



article.pensador p {
    margin: 10px 0px;
    text-align: center;
    text-indent: 0%;

    font-size: 100%;

    color: black;
}





section.pensamentos {
    width: 94%;
    margin: auto;
    padding-bottom: 10px;
}

section.pensamentos p {
    padding: 20px;
    width: 90%;
    margin: 25px auto;

    color: black;
    font-size: 1.2em;
    background-color: white;

    border-radius: 10px;

    text-indent: 0;
    text-align: left;
}





a.autor {
    text-decoration: none;
}

a.autor:hover {
    text-decoration: underline;
}





div.center {
    display: flex;
    margin: auto;

    justify-content: center;
    flex-wrap: wrap;

    padding: 10px;

    width: 100%;
}

div.center article.pensador {
    display: inline-block;
    margin: 10px 5px;
}





nav.page {
    width: 100%;
    margin-bottom: 20px;

    text-align: center;
}

nav.page a {
    width: 20%;
    padding: 10px;

    border-radius: 5px;

    text-indent: 0%;
    text-decoration: none;

    color: white;
    background-color: orange;
}

nav.page a:hover {
    text-decoration: underline;
}









/* ===== Cabeçalho ===== */

header {
    background-image: linear-gradient(to bottom, black, #020355);
}

header h1 {
    margin: 0;
    padding: 10px;
    text-align: center;
}

/* ===== Conteúdo ===== */

main {
    width: 80%;
    max-width: 1000px;
    margin: auto;

    height: 95vw;
}

main p {
    text-indent: 50px;
    text-align: justify;
}

